In [89]:
import json
import pymongo
import pandas as pd

import nltk
#nltk.download("vader_lexicon")

from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

client = pymongo.MongoClient("mongodb+srv://adam-gilbert:123password321@sandboxcluster.rkfjm.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

q = "Halo"

db = client['twitter']
    
# Reference a particular collection in the database
coll = db['statuses_'+q]

# Computing Sentiment Using NLTK VADER

VADER is a sentiment model trained to detect positivity/negativity and intensity.

In [90]:
cursor = coll.find({})

results = []

for tweet in cursor:
    results.append(tweet["full_text"])
    #results.append(tweet['text'])

In [91]:
sid.polarity_scores(results[1])

{'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'compound': -0.6597}

In [92]:
polarities = []

for tweet in results:
    polarities.append(sid.polarity_scores(tweet))

polarities[:10]

[{'neg': 0.178, 'neu': 0.626, 'pos': 0.196, 'compound': 0.0951},
 {'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'compound': -0.6597},
 {'neg': 0.153, 'neu': 0.847, 'pos': 0.0, 'compound': -0.6597},
 {'neg': 0.0, 'neu': 0.765, 'pos': 0.235, 'compound': 0.5707},
 {'neg': 0.0, 'neu': 0.966, 'pos': 0.034, 'compound': 0.0387},
 {'neg': 0.0, 'neu': 0.773, 'pos': 0.227, 'compound': 0.6124},
 {'neg': 0.0, 'neu': 0.733, 'pos': 0.267, 'compound': 0.7866},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.133, 'neu': 0.867, 'pos': 0.0, 'compound': -0.3818}]

In [93]:
sentiment = len(results)*["neu"]

for i in range(len(results)):
    if (polarities[i]["neg"] > polarities[i]["pos"]):
        sentiment[i] = "neg"
    elif (polarities[i]["neg"] < polarities[i]["pos"]):
        sentiment[i] = "pos"

In [94]:
sentiments_df = pd.DataFrame({"text" : results, "sentiment" : sentiment, "scores" : polarities})
sentiments_df.head()

,text,sentiment,scores
0,@oskool_g Infinite won't flop \nIt might not b...,pos,"{'neg': 0.178, 'neu': 0.626, 'pos': 0.196, 'co..."
1,@Oyffie Me when I rage at bungie-stans complai...,neg,"{'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'comp..."
2,@dustyntheriot Also this is not a troll accoun...,neg,"{'neg': 0.153, 'neu': 0.847, 'pos': 0.0, 'comp..."
3,Picture I snapped at Newport Beach!\nEnjoying ...,pos,"{'neg': 0.0, 'neu': 0.765, 'pos': 0.235, 'comp..."
4,@Halo posted about this figurine that I want. ...,pos,"{'neg': 0.0, 'neu': 0.966, 'pos': 0.034, 'comp..."

In [95]:
def give_score(score_dict):
    return score_dict['pos'] - score_dict['neg']

In [96]:
import pandas as pd
tweets_df = pd.DataFrame(list(coll.find()))

In [97]:
tweets_df['scores'] = polarities

In [98]:
tweets_df['score'] = tweets_df['scores'].map(give_score)

In [99]:
tweets_df.head()

,_id,created_at,id,id_str,full_text,truncated,display_text_range,entities,metadata,source,...,favorited,retweeted,lang,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,scores,score
0,60ddeb2984ec9fbae26aa8ae,Thu Jul 01 16:14:52 +0000 2021,1410633009976549387,1410633009976549387,@oskool_g Infinite won't flop \nIt might not b...,False,"[10, 96]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",...,False,False,en,NaN,NaN,NaN,NaN,NaN,"{'neg': 0.178, 'neu': 0.626, 'pos': 0.196, 'co...",0.018
1,60ddeb2984ec9fbae26aa8af,Thu Jul 01 16:14:41 +0000 2021,1410632961821745153,1410632961821745153,@Oyffie Me when I rage at bungie-stans complai...,False,"[8, 81]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,False,False,en,NaN,NaN,NaN,NaN,NaN,"{'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'comp...",-0.351
2,60ddeb2984ec9fbae26aa8b0,Thu Jul 01 16:13:59 +0000 2021,1410632788970246145,1410632788970246145,@dustyntheriot Also this is not a troll accoun...,False,"[15, 180]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",...,False,False,en,NaN,NaN,NaN,NaN,NaN,"{'neg': 0.153, 'neu': 0.847, 'pos': 0.0, 'comp...",-0.153
3,60ddeb2984ec9fbae26aa8b1,Thu Jul 01 16:12:05 +0000 2021,1410632309510864897,1410632309510864897,Picture I snapped at Newport Beach!\nEnjoying ...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",...,False,False,en,"{'media': [{'id': 1410632305744367623, 'id_str...",False,NaN,NaN,NaN,"{'neg': 0.0, 'neu': 0.765, 'pos': 0.235, 'comp...",0.235
4,60ddeb2984ec9fbae26aa8b2,Thu Jul 01 16:08:37 +0000 2021,1410631436244193281,1410631436244193281,@Halo posted about this figurine that I want. ...,False,"[0, 174]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",...,False,False,en,"{'media': [{'id': 1410631434113486854, 'id_str...",False,NaN,NaN,NaN,"{'neg': 0.0, 'neu': 0.966, 'pos': 0.034, 'comp...",0.034

In [100]:
def followers_count(user_string):
    user_dict = dict(user_string) # turn the string into a dictionary
    return int(user_dict['followers_count']) # get the followers count

In [101]:
# add the followers count to the data frame for accessibility
tweets_df.loc[:,'follower_count'] = tweets_df['user'].map(followers_count)

In [102]:
# get the tweets scored about .95
high_scores_df =  tweets_df[tweets_df['score'] > 0.2]
early_access_df = high_scores_df.nlargest(10, 'follower_count')

In [103]:
for index, row in early_access_df[['follower_count','user', 'full_text']].iterrows():
    follow_count =row['follower_count'] 
    tweet = row['full_text']    
    user = dict(row['user'])
    print("ID: ", user['id_str'], " SCREEN_NAME: ", user['screen_name'], " FOLLOWERS: ", follow_count)
    print("TWEET: ", tweet)
    print('--------------------------------------------------------------------------------------------------------------')
    print()

ID:  1225628126  SCREEN_NAME:  Gfinity  FOLLOWERS:  161219
TWEET:  Halo's multiplayer looks so good ü§§

https://t.co/2Th1Pv25X4
--------------------------------------------------------------------------------------------------------------

ID:  3017022638  SCREEN_NAME:  GernaderJake  FOLLOWERS:  46424
TWEET:  @TomRyanOGRE2 Halo Infinite on New Gen Xbox is the play üëå
--------------------------------------------------------------------------------------------------------------

ID:  436359211  SCREEN_NAME:  FrostyBB  FOLLOWERS:  43194
TWEET:  Halo infinite just looks better and better. Big things coming üôå https://t.co/fl2EDLv4e7
--------------------------------------------------------------------------------------------------------------

ID:  962344969578139648  SCREEN_NAME:  Jek_Korpen  FOLLOWERS:  40322
TWEET:  @python9802 i wont count halo infinite, since its not released, but i do have high hopes
--------------------------------------------------------------------------------------------------------------

ID:  170059671  SCREEN_NAME:  suddoth1  FOLLOWERS:  18058
TWEET:  Thanks @MLGACE for the host this morning. Had bunch of fun playing halo for first time in forever, can‚Äôt wait to grind some more and get ready for #infinite flight
--------------------------------------------------------------------------------------------------------------

ID:  773560734051667968  SCREEN_NAME:  LateNightHalo  FOLLOWERS:  16444
TWEET:  Halo Infinite's Multiplayer has me excited :) In today's video, I break down what I thought about the Multiplayer vidoc

https://t.co/CTMHKQSvyF
--------------------------------------------------------------------------------------------------------------

ID:  79827064  SCREEN_NAME:  GGoofy  FOLLOWERS:  16292
TWEET:  I‚ÄôM SO EXCITED!

Halo Infinite is gonna be amazingüôèüèΩ https://t.co/QNPVR6WtIx
--------------------------------------------------------------------------------------------------------------

ID:  785646081447047168  SCREEN_NAME:  GarrettEAtkins  FOLLOWERS:  10182
TWEET:  @XboxSeriesXGam1 @XboxP3 While I agree (depending on your definition of ‚Äúlast‚Äù), it‚Äôs worth noting he did not say ‚ÄúHalo Infinite‚Äù.
--------------------------------------------------------------------------------------------------------------

ID:  1261251444398870529  SCREEN_NAME:  IdleSloth84  FOLLOWERS:  7526
TWEET:  Phil Spencer says that Xbox is focused on releasing Halo Infinite this Holiday.

Phil trust the team, he's trust the progress they're making and has confidence in Infinite delivering this Fall. https://t.co/n4j2lULXeZ
--------------------------------------------------------------------------------------------------------------

ID:  2300439182  SCREEN_NAME:  TheShyway  FOLLOWERS:  6966
TWEET:  @thaMilkWay @aimlab Pretty interesting stuff. Hopefully we get Halo infinite settings added to these games - although training against bots is going to have me pretty preoccupied as well ü§©
--------------------------------------------------------------------------------------------------------------

In [104]:
tweets_df[tweets_df['id_str'].duplicated()]

Empty DataFrame
Columns: [_id, created_at, id, id_str, full_text, truncated, display_text_range, entities, metadata, source, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, in_reply_to_screen_name, user, geo, coordinates, place, contributors, is_quote_status, retweet_count, favorite_count, favorited, retweeted, lang, extended_entities, possibly_sensitive, quoted_status_id, quoted_status_id_str, quoted_status, scores, score, follower_count]
Index: []

[0 rows x 34 columns]